#log {
  max-width: 330px;
  margin: 0 auto;

  li {
    list-style: none;
    margin-bottom: 16rem;
    text-align: left;

    li {
      margin: 3rem 0 4rem;

      li {
        margin: 2rem 0 3rem;

        li {
          margin: 0 0 2rem;
        }
      }
    }
  }

  h2,
  h3,
  h4,
  p {
    padding: 0 5px;
  }

  h2 {
      border-bottom: 1px solid rgba(255,255,255,.5);
      font-size: 4rem;
      line-height: 1.2;
      position: sticky;
      top: 0;
      z-index: 3;
  }

  h3 {
      border-bottom: 1px dotted rgba(255,255,255,.5);
      font-size: 3rem;
      line-height: 1.2;
      position: sticky;
      top: 4.8rem; // h2 font-size * h2 line-height
      z-index: 2;
  }

  h4 {
    border-bottom: 1px dashed rgba(255,255,255,.5);
    font-size: 2.2rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.4rem;
    line-height: 3.2;
  }
}
